{% extends 'base.html' %} 
{% block title %}Home Page{% endblock %} 
{% block content %}
    <!-- Main Body -->
    <div id="particles-js">        
        <div class="presentation">
            <h2>Let's Engineer a better future</h2>
            <h1>Together</h1>
            <p>IsoKoin is a cryptocurrency made to power the change and the innovations that will improve people's lives.</p> 
            <p>We believe that solutions to micro/macro issues should be sustainable, simple and more importantly democratic.</p>
            <p>Our framework is based on the belief that the fastest way to do things is to do them the right way!</p>
            <p>Click the button below to learn more about our mission.</p>
            <a href="../poll" class="btn btn-outline">Our Vision</a>
        </div>
    </div>

    <!--- PRELOADER-->
    <div id="preloader">
        <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="logo" srcset="">
        <p class='xl'>checking if the user is in the database...</p>
    </div>

    <!---Showcase section -->
    <!--- This section will contain two items the showcase text and the showcase form -->
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
                <h1>Participate in the revolution</h1>
                <p>By requesting an account you will register a node as such allowing the mock blockchain to be more decentralised. 
                    Moreover, you will be able to access features such as sending and receiving ISKs within the platform.</p>
                <a href="{{ url_for('static', filename='../code') }}" class="btn btn-outline">Read More</a>
            </div>

            <div class="showcase-form card">
                <h2>Request an Account</h2>
                <form action="{{ url_for('logins') }}" method="post">
                    <div class="form-control"><input type="text" name="username" placeholder="Name" required></div>
                    <div class="form-control"><input type="text" name="company" placeholder="Company Name"></div>
                    <div class="form-control"><input type="text" name="password" placeholder="Password" required></div>
                    <input id='trigger-preloader' type="submit" value="Send" class="btn btn-primary">
                </form>
            </div>
        </div>
    </section>
    <!---Stats -->
    <!--- This section will contain two items the showcase text and the showcase form -->
    <section class="stats">
        <div class="container">
            <h3 class="stats-heading text-center my-1"><p>Welcome to the best platform for building decentralised applications of all types with the sole purpose to make a positive impact</p></h3>
            <div class="grid grid-3 text-center my-4">
                <div> <!---The dividers are used to better orgganise the layout without using css -->
                    <i class="fas fa-users fa-3x"></i> <!---The classes of the i (icon) tags are called like this to get the icon from font awesome -->
                    <h3>120</h3> 
                    <p class="text-secondary">Nodes</p>
                </div>
                <div>
                    <i class="fas fa-project-diagram fa-3x"></i>
                    <h3>10</h3> 
                    <p class="text-secondary">Projects</p>
                </div> 
                <div>
                    <i class="fas fa-upload fa-3x"></i>
                    <h3>3</h3> 
                    <p class="text-secondary">Deployed Dapps</p>
                </div>
            </div>
        </div>
    </section>

    <!----Cli-->
    <!---This section will contain the image of the crypto-->
    <section class="cli">
        <div class="container grid">
            <img src="{{ url_for('static', filename='img/Logo.png') }}" alt="the logo of the crypto">
            <div class="card">
                <h3>Blockchain - ISK platform</h3>
            </div>
            <div class="card">
                <h3>Symbol - ISK (IsoKoin)</h3>
            </div>
        </div>
    </section>

    <!--- Cloud -->
    <section class="cloud bg-primary my-2 py-2">
        <div class="container grid">
            <div class="text-center">
                <h2 class="lg">For a decentralised future</h2>
                <p class="lead my-1">blockchain technology can be implemented as an extension of the web in order to remove trust from various operations</p>
                <a href="../code" class="btn btn-dark">Read More</a>
            </div>
            <img src="{{ url_for('static', filename='img/cloud.png') }}" alt="the logo of the crypto" srcset="">
        </div>
    </section>
    
    <img class="image-divider" src="{{ url_for('static', filename='img/cool-background.png') }}" alt="cool background" srcset="">
    <!---Languages -->
    <section class="languages">
        <div class="container grid">
            <div>
                <img src="{{ url_for('static', filename='img/decentralised.png') }}" alt="the logo of the crypto" srcset="">
            </div>
            <div class='card'>
                <h2>What is a decentralised system?</h2>
                <p>
                    Centralization and decentralization refer to levels of control. In a centralized system, 
                    control is exerted by just one entity (a person or an enterprise, for example). 
                    In a decentralized system, there is no single controlling entity.
                </p>
            </div>
        </div>
    </section>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {{user}}
{% endblock %}